@keyframes example1 {
   from {opacity: 1;}
    to {
        opacity: 0.7;}
}


img:hover {
    animation-name: example1;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}